{% extends 'mainapp/base.html' %}

{% block content %}


<form class="col-6 m-auto pt-5 pb-5" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <input type="text" name="username" autofocus=""
               value="{{user.username}}"
               autocapitalize="none" autocomplete="username"
               maxlength="150" class="textinput textInput form-control"
               required="" id="id_username" placeholder="Username">
    </p>

     <p>
        <input type="email" name="email"
               value="{{user.email}}"
               autocomplete="current-password"
               class="textinput textInput form-control" required=""
               id="email" placeholder="Email">
    </p>
     <p>
        <input type="text" name="first_name"
               value="{{user.first_name}}"
               autocapitalize="none" maxlength="150"
               class="textinput textInput form-control" required=""
               placeholder="first_name">
    </p>
    <p>
        <input type="text" name="last_name"
               value="{{user.last_name}}"
               autocapitalize="none" maxlength="150"
               class="textinput textInput form-control" required=""
               placeholder="Last_name">
    </p>
    <p>
        <input type="number" name="age"
               value="{{user.age}}"
               autocapitalize="none"
               class="textinput textInput form-control" required=""
               id="age" placeholder="Age">
    </p>
    <p>
        <input type="file" name="avatar"
               class="textinput textInput form-control" required=""
               placeholder="avatar">
    </p>
    <p>
        <button type="submit"
                class="btn btn-primary btn-block">Сохранить
        </button>
    </p>
</form>




{% endblock content %}

{% block js %}
<script>
    $(document).ready(function () {
    {% if messages %}
        // Toasts
        $(".toast").toast({ delay: 5000 });
        $(".toast").toast("show");
{% endif %}
});
</script>
{% endblock js %}

